N8N/Gmail Trigger.json
{
  "name": "Gmail Trigger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -144
      ],
      "id": "bb445cb0-301b-488b-a028-6e0238a361d9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nxTA0tC4Gt8lJdlj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=DRAFT THE MOST APPROPRIATE EMOJI TO REPLY WITH \n {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        -144
      ],
      "id": "ad072435-0a39-4678-a24f-61918675aa30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        176
      ],
      "id": "ae572963-de43-4e1c-a842-72d537bb2f63",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UtA0hKreJddpsg7q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=REPLY TO: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -144
      ],
      "id": "81447459-638e-46fe-b6e8-83ba6a437658",
      "name": "Send a message",
      "webhookId": "e3c69373-23a0-471a-bd97-aa31d725d1e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "nxTA0tC4Gt8lJdlj",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "299e6607-70ce-4782-b2d1-29afcb167a4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfa47d6ad6eb355766f31f0044746c48b00617749bbb8895c7d3dc064abfc0c3"
  },
  "id": "hWs4mTUC9sHrBBjy",
  "tags": []
}